<div class="jumbotron bg-white text-center">
    <h1 class="display-4" >Corona Covid-19 Tracker</h1>
    <p class="lead">Sanket sunil patil</p>
    
    <app-dashboardcards 
        [totalconfirmed] = 'totalconfirmed'
        [totalactive] = 'totalactive'
        [totaldeaths] = 'totaldeaths'
        [totalrecovered] = 'totalrecovered'
    ></app-dashboardcards>
</div>

<div class="ui form">
    <div class="inline fields">
      <label for="fruit">Select Case Type:</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" value="c" #c (click)="updatechart(c)" id="c" name="Sametype" checked="true" tabindex="0" class="hidden">
          <label for="c">Confirmed</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" value="d" #d (click)="updatechart(d)" id="d" name="Sametype" checked="" tabindex="0" class="hidden">
          <label for="d">Deaths</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" value="r" #r (click)="updatechart(r)" id="r" name="Sametype" checked="" tabindex="0" class="hidden">
          <label for="r">Recovered</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" value="a" #a (click)="updatechart(a)" id="a" name="Sametype" checked="" tabindex="0" class="hidden">
          <label for="a">Active</label>
        </div>
      </div>
      
    </div>
    
    
  </div>


<div class="row">
    <div class="col"><google-chart [data] = "pieChart"></google-chart></div>
    <div class="col"><google-chart [data] = "columnChart"></google-chart></div>
</div>

