<div class="jumbotron bg-white text-center">
    <h1 class="display-4" >Corona Covid-19 Tracker</h1>
    <p class="lead">Sanket sunil patil</p> 

    <app-dashboardcards 
        [totalconfirmed] = 'totalconfirmed'
        [totalactive] = 'totalactive'
        [totaldeaths] = 'totaldeaths'
        [totalrecovered] = 'totalrecovered'
    ></app-dashboardcards>
    <div class="mx-auto">
        <div class="form-group col-lg-5 mx-auto">
            <label for="c"> Select Country</label>
            <select class="form-control" id="c" #input (change) = "updatevalues(input.value)">
                <option value="{{c}}" *ngFor="let c of countrylist">{{c}}</option>
            </select>
        </div>
    </div>
</div>