<div class="row">
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="value">
              {{totalconfirmed}}
            </div>
            <div class="label">
              Total Confirmed Cases
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3 danger">
        <div class="ui statistic">
            <div class="value">
              {{totaldeaths}}
            </div>
            <div class="label">
            <div class="red">Total Deaths</div> 
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="value">
              {{totalrecovered}}
            </div>
            <div class="label">
              Total Recovered Cases
            </div>
          </div>
    </div>
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="value">
              {{totalactive}}
            </div>
            <div class="label">
              Total Active Cases
            </div>
          </div>
    </div>
</div>